{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="博客首页">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--[if lte IE 8]>  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">  
<![endif]-->
<!--[if gt IE 8]><!-->  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">  
<!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <!--<link rel="stylesheet" href="css/layouts/marketing.css">-->
    <!--<![endif]-->    
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
    <link href="{% static "css/monokai-sublime.css" %}" rel="stylesheet">    
    <script src="{% static "js/highlight.pack.js" %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <div id="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" style="font-size:30px" href="">MyFirstDjango</a>

            <ul>
                <li class="pure-menu-selected"><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/admin">Sign Up</a></li>
            </ul>
        </div>
    </div>
    <div id="bodycontent">
        <div id="layout" class="pure-g">            
            <div class="content pure-u-1 pure-u-md-3-4">
                <div id="content">
                {% block content %}
                {% endblock %}
                </div>
            </div>
            <div class="sidebar pure-u-1 pure-u-md-1-4">
                <h2>My blog</h2>
                    <p>
                        This is my blog. <br/>
                        I've written {% total_posts %} posts so far.
                    </p>
                    <p>
                        <a href="{% url "blog:post_feed" %}">
                            Subscribe to my RSS feed
                        </a>
                    </p>
                <h3>Latest posts</h3>
            
                    {% show_latest_posts 3 %}
            
                <h3>Most commented posts</h3>
                    {% get_most_commented_posts as most_commented_posts %}
                <ul>
                    {% for post in most_commented_posts %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <h3>Tags</h3>
                    {% get_tags as tags %}
                <ul>
                    {% for tag in tags %}
                    <li>
                        <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                            {{ tag.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>                    
        </div>    
        <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </div>
            </div>
    </div>
</body>
</html>